@CHARSET "UTF-8";
#centerbox {
  text-align:center;
}
​#picture_box{	
     border:1px solid #d3d3d3;
}

#canvas,#capture_image{

margin-top: 25px;
  width: 307px;
  height: 250px;

}
#vid{
  width: 100px;
  height: 100px;
}
#capture_image{
vertical-align: top;
}
